.body {
       font-family: Arial, Helvetica, sans-serif;

}
.under-nav {
       width: 100%;
       height: 30px;
       background-color: rgb(110, 173, 97);
       font-weight: bold;
       color:red;
       text-align: center;
}
.body {
       width: 100%;
       height: 800px;
       bottom: 16px;
    
}
.container1 {
       width: 100%;
       height: 350px;
       background-color: rgba(22, 21, 21, 0.818);
}
.container2 {
       width: 100%;
       height: 200px;  
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       bottom: 25px;
       top: 20px;

       
}
.container3 {
       width: 100%;
       height: 360px;  
       background-color:  rgba(22, 21, 21, 0.818) ;
     
}

.image1{
       width: 550px;
       height: 330px;
       border: 1px solid #2f21ad;
       background-color: rgb(205, 91, 50);
       position:relative;
       left: 50rem;
       bottom: 12rem;
}
.image2{
       width: 550px;
       height: 360px;
       border: 1px solid #4319ad;
       background-color: rgb(205, 91, 50);
       position:relative;
       left: 3rem;
       bottom: 19rem;
}
.body2{
       width: 760px;
       height: 330px;
       border: 1px solid #73AD21;
       background-color: rgb(33, 53, 233);
       position:relative;
       left: 40rem;
       bottom: -2rem;
}
.text1 {
       margin:10px;    
       font-weight: 600;
       font-size: 16px;
       line-height: 40px;
       color: aliceblue; 
}
.text {
       margin:10px;    
       font-weight: 600;
       font-size: 16px;
       line-height: 8px;
       text-indent: 20px;
       color: aliceblue; 
}
.p1 {
       margin:10px; 
       font-weight: bold;
       font-size: 30px;
       color: aliceblue;     
}



.P-get-started {
       width: 7rem;
       height: 4rem;
       background-color: aliceblue;

}
.get-started1 {
       width: 8rem;
       height: 3rem;
       border: 1px solid #73AD21;
       background-color: aliceblue;
       position:relative;
       left: 1rem;
       bottom: 4px;
     
}

.container-box1 {
       width: 100px;
       height: 80px;
       margin: 1rem;
       cursor: pointer;
       margin-left: 50px;
       bottom: 50px;
   

}
.container-box {
       width: 220px;
       height: 80px;
       cursor: pointer;
       border:1px solid black;


}
.wallet {
       width: 120px;
       height: 40px;
       color: rgb(79, 71, 71);
       text-align:center;
    
    
}

.get-started2 {
       width: 8rem;
       height: 3rem;
       border: 1px solid #73AD21;
       background-color: aliceblue;
       position:relative;
       left:  1rem;
       bottom: -5rem;
     
}
.P-get-started2 {
       width: 10rem;
       height: 6rem;
       background-color: aliceblue;

}
.p2 {
       margin:10px; 
       font-weight: bold;
       font-size: 30px;
       color: aliceblue;     
}
.container4 {
      
       width: 1500px;
       height: 380px;  
       background-color:  rgba(57, 51, 211, 0.818) ;   
}
.x {
       width: 100%;
       height: 60px;
}
.other {
       width: 1100px;
       height: 350px;
       border: 1px solid black;
       background-color: aliceblue;
       margin-left: 170px;
       height: 380px;
}
.p-other {
       font-weight:bold;
       text-align: center;
       padding: 120px 0;
      
      
}
.other1 {
       width: 1100px;
       height: 250px;
       border: 1px solid black;
       background-color: aliceblue;
       margin-left: 170px;
}
.container5 {
       width: 2000px;
       height: 250px;
       background-color: aqua;
       bottom: 40px;
}

.news-annocements {
       width: 100%;
     
       border: 1px solid black;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       font-weight: bold;
       font-size: 30px;

}
.learn-more {
       width: 8rem;
       height: 3rem;
       border: 1px solid #73AD21;
       background-color: green;
       position:relative;
       left:  25rem;
       bottom: -10rem;
       font-weight: bold;

}
.coffee-image {
       width: 200px;
       height: 200px;
       object-fit: cover;
       float: left;
       bottom:200px ;
       border-radius: 10px;
       margin-right: 40px;
       margin-left: 100px;
       margin-top: 20px;
}
.image-description {
       width: 1500px;
       height: 260px;
       border: 1px solid black;
   

}
.container5-p1 {
       font-weight: bold;
       font-size: 20px;
       bottom: 20px;
       margin: 2px;
      
}
.container5-p2 {
       font-weight: bold;
       padding-bottom: 2px;
     
}
.news-annocements {
       height: 180px;
}
.container5-p3 {
       margin: auto;
       padding-bottom: 1px;
}
.container5-learn-more {
       width: 1800px;
       height: 420px;
       border: 1px solid #73AD21;
       background-color: aliceblue;
       position:relative;
       left: 290px;
       bottom: -14px;
      
}
.image-description {
       width: 100%;
       height: 250px;
}
.p-container5-learn-more {
     
       width: 8rem;
       height: 3rem;
       border: 1px solid rgba(18, 15, 15, 0.856);
       float: left;
       background-color: #1fe06c;
       text-align: center;
}



.container7 {
       width: 100%;
       height: 100px;
       display: grid; 
       grid-template: auto auto 100px / 70% 30%;
       border: 1px solid black;  
      
     
}
.box {
     
       background: gold;
       border: 1px solid black;
       width: auto;
       height: auto;
}
.footer_list1 {
       display: flex;
       width: auto;
       display: flex;    
       list-style-type: none; 
}
.footer_item {
       margin-left: 8px;
}
.My_Best_Credit_Union {
       margin-left: 40px;
       list-style-type: none;   
       font-weight: bold;
       font-size: 14px;
}
.po_box {
       margin-left: 40px;
       list-style-type: none;  
       font-size: 14px;

}
.address {
       margin-left: 40px;
       list-style-type: none;
       font-size: 13px;
}
.phone {
       font-weight: bold;
       margin-left: 25px;
       font-size: 13px;
       list-style-type: none;
       padding: 15px;

}
.routing_number {
       font-weight: bold;
       font-style: bold;
       margin-left: 28px;
       font-size: 13px;
       list-style-type: none; 
       padding: 15px;
}
.footer_paragraphe2 {
       margin-left: 40px;
       list-style-type: none;
       font-size: 13px;        
}

.footer_paragraphe2 {
       margin-left: 40px;
       list-style-type: none;
       font-size: 13px;      
}
.footer_items {     
       display: grid;
       grid-template: 100px 100px 100px / 50fr 50fr;
       border: 1px solid black;      
}
.item {
       width: 100%;
       height: 100px;
       border: 1px solid black;
}
.img1 {
       width: 100%;
       height:100px;
       border: 1px solid black;
       text-align: center;
       border-radius: 10px; 
      
}
.img2 {
       width: 100%;
       height:100px;
       border: 1px solid black;
       text-align: center;  
       border-radius: 10px;    
}
.img3 {
       width: 100%;
       height:100px;
       border: 1px solid black;
       text-align: center;   
       border-radius: 10px;
       float: right;
       
}
.item2{
       width: 100%;
       height: 120px;   
}

.item3{
       width: 100%;
       height: 100px;   
}
.item3 {
       grid-column: 1/3;
}
.item4 {
       grid-column: 1/3;
       
}
.item4 {
       width: 100%;
       height: 100%;
       border: 1px solid black;    
}


.p1_item4 {
       list-style-type: none;
       float: right;

}
.p2_item4 {
       list-style-type: none;
       float: right;

}
.p3_item4 {
       list-style-type: none;
       float: right;

}










      



