.under-nav {
       width: 100%;
       height: 30px;
       background-color: rgb(110, 173, 97);
       font-weight: bold;
       color:red;
       text-align: center;
}
.body {
       width: 100%;
       height: 800px;
       bottom: 16px;
    
}
.container1 {
       width: 100%;
       height: 350px;
       background-color: rgba(22, 21, 21, 0.818);
}
.container2 {
       width: 100%;
       height: 200px;  
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       bottom: 25px;
       top: 20px;

       
}
.container3 {
       width: 100%;
       height: 360px;  
       background-color:  rgba(22, 21, 21, 0.818) ;
     
}

.image1{
       width: 550px;
       height: 330px;
       border: 1px solid #2f21ad;
       background-color: rgb(205, 91, 50);
       position:relative;
       left: 50rem;
       bottom: 12rem;
}
.image2{
       width: 550px;
       height: 360px;
       border: 1px solid #4319ad;
       background-color: rgb(205, 91, 50);
       position:relative;
       left: 3rem;
       bottom: 19rem;
}
.body2{
       width: 760px;
       height: 330px;
       border: 1px solid #73AD21;
       background-color: rgb(33, 53, 233);
       position:relative;
       left: 40rem;
       bottom: -2rem;
}
.text1 {
       margin:10px;    
       font-weight: 600;
       font-size: 16px;
       line-height: 40px;
       color: aliceblue; 
}
.text {
       margin:10px;    
       font-weight: 600;
       font-size: 16px;
       line-height: 8px;
       text-indent: 20px;
       color: aliceblue; 
}
.p1 {
       margin:10px; 
       font-weight: bold;
       font-size: 30px;
       color: aliceblue;     
}



.P-get-started {
       width: 7rem;
       height: 4rem;
       background-color: aliceblue;

}
.get-started1 {
       width: 8rem;
       height: 3rem;
       border: 1px solid #73AD21;
       background-color: aliceblue;
       position:relative;
       left: 1rem;
       bottom: 4px;
     
}

.container-box {
       width: 8em;
       height: 5rem;
       margin: 1rem;
       cursor: pointer;
       background: aliceblue;

}

.get-started2 {
       width: 8rem;
       height: 3rem;
       border: 1px solid #73AD21;
       background-color: aliceblue;
       position:relative;
       left:  1rem;
       bottom: -5rem;
     
}
.P-get-started2 {
       width: 10rem;
       height: 6rem;
       background-color: aliceblue;

}
.p2 {
       margin:10px; 
       font-weight: bold;
       font-size: 30px;
       color: aliceblue;     
}
.container4 {
      
       width: 1500px;
       height: 380px;  
       background-color:  rgba(57, 51, 211, 0.818) ;   
}
.x {
       width: 100%;
       height: 60px;
}
.other {
       width: 1100px;
       height: 350px;
       border: 1px solid black;
       background-color: aliceblue;
       margin-left: 170px;
       height: 380px;
}
.p-other {
       font-weight:bold;
       text-align: center;
       padding: 120px 0;
      
      
}
.other1 {
       width: 1100px;
       height: 250px;
       border: 1px solid black;
       background-color: aliceblue;
       margin-left: 170px;
}
.container5 {
       width: 2000px;
       height: 350px;
       background-color: aqua;
       bottom: 40px;
}
.y {
       width: 100%;
       height: 50px;
       background-color: rgb(110, 173, 97);
       font-weight: bold;
       color:red;
       text-align: center;

}
.news-annocements {
       width: 100%;
     
       border: 1px solid black;
       display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       font-weight: bold;
       font-size: 30px;

}
.learn-more {
       width: 8rem;
       height: 3rem;
       border: 1px solid #73AD21;
       background-color: green;
       position:relative;
       left:  25rem;
       bottom: -10rem;
       font-weight: bold;

}
.coffee-image {
       width: 200px;
       height: 200px;
       object-fit: cover;
       float: left;
       bottom:200px ;
       border-radius: 10px;
       margin-right: 40px;
       margin-left: 100px;
       margin-top: 20px;
}
.image-description {
       width: 1500px;
       height: 260px;
       border: 1px solid black;
       bottom: 60px;

}
.container5-p1 {
       font-weight: bold;
       font-size: 20px;
       bottom: 20px;
       margin: 2px;
      
}
.container5-p2 {
       font-weight: bold;
       padding-bottom: 2px;
     
}
.news-annocements {
       height: 180px;
}
.container5-p3 {
       margin: auto;
       padding-bottom: 1px;
}
.container5-learn-more {
       width: 1800px;
       height: 420px;
       border: 1px solid #73AD21;
       background-color: aliceblue;
       position:relative;
       left: 290px;
       bottom: -14px;
      
}
.image-description {
       width: 100%;
       height: 250px;
}
.p-container5-learn-more {
     
       width: 8rem;
       height: 3rem;
       border: 1px solid red;
       border: red;
       float: left;
       background-color: #1fe06c;
       text-align: center;
}



.container7 {
       display: grid; 
       grid-template: 100px auto 100px / 70% 30%;
       border: 1px solid black;  
      
   ;    
}
.box {
     
       background: gold;
       border: 1px solid black;
}





      



